body {
    font-family: "Open Sans", sans-serif;
}

hr {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

hr.marg_bot {
    margin-top: 0px !important;
    margin-bottom: 40px !important;
}

.vr_banner {
    margin: 15px 20px 15px 20px;
}

.vr_header {
    margin: 15px 10px 15px 10px;
}


.site_title {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    margin: 0 30px 0 22px;
    text-decoration: none;
}

.site_title_icon {
    margin-right: 10px;
    font-size: 34px;
    margin-bottom: 5px;
}

.logo {
    height: 150px;
    border: 5px solid #ffffff;
    margin: -95px 0 5px 30px;
}

.fa-house {
    color: #000000;
}

.fa-address-card {
    color: #000000;
}

.fa-envelope-open-text {
    color: #000000;
}

.fa-discord {
    color: #5E67ED;
}

.fa-circle-exclamation {
    color:#db0000 !important;
}

.fa-youtube {
    color: #f50000;
}

.fa-twitch {
    color: #673ab7;
}

.fa-x-twitter {
    color: #000000;
}

.fa-square-github {
    color: #1f883d;
}

.fa-clipboard-user {
    color: #3a7ca6;
}

.header_icons {
    font-size: 24px;
    padding-top: 8px;
}

.header_links {
    margin: 0;
    width: 120px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}

.header_links:hover {
    backdrop-filter: brightness(110%);
}

.banner {
    width: 100%;
    border-bottom: 1px solid #6aa9b3;
}

.banner_container {
    font-size: 16px;
    font-weight: 600;
    background-color: #5085a5;
}

.banner_nav {
    margin-left: 120px;
    min-height: 100%;
}

.banner_images {
    height: 30px;
    margin-right: 10px;
}

.banner_links {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    padding: 14px 15px 14px 15px;
}

.banner_links:hover {
    backdrop-filter: brightness(110%);
}

.sub_titles {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.sub_titles_icons {
    color: #5085a5;
    margin-right: 15px;
}

.discord-widget {
    text-align: left;
}

ol > li.apply::marker {
    font-weight: bold;
  }

.btn-apply {
    font-weight: 600;
    margin-top: 12px;
}

.button_label {
    padding-left: 10px;
    vertical-align: middle;
}

.raider_rules {
    padding-top: 0 !important;
}

.footer {
    width: 100%;
}

.footer_social {
    font-size: 28px;
    text-decoration: none;
}

.footer_padding {
    padding: 0 50px 0 50px;
}